body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.cart {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
